html,
body {
  font-family: poppins, sans-serif;
}


.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto;
  width: 800px;
  height: auto;
  padding: 20px;
  border: 1px solid rgb(255, 166, 0);
  border-radius: 5px;
  background-color: rgb(255, 166, 0);
  text-align: right;
  align-items: right;
  text-size-adjust: 12px;
  overflow-x: auto;
  overflow-y: auto;
  
}



.btn {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  height:30px;
  width:90px;
  background-color: darkslategray;
  border-color: #737373;
  color: rgb(255, 166, 0);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 10px;
}

.form-control{
  display: flex;
  justify-content: center;
  align-items: center;
  height:30px;
  width:200px;
  max-width: 200px;
  background-color: rgb(255, 166, 0);
  border-color: rgb(255, 166, 0);
  color: rgb(75, 75, 71);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  border-radius: 1px;
  margin-bottom: 10px;
}

.addbtn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column-reverse;
  height:30px;
  width:90px;
  background-color: rgb(255, 166, 0);
  border-color: rgb(255, 166, 0);
  color: rgb(75, 75, 71);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 10px;
}



